<% if(error?.length){ %>
<label id="error-toast"><%= error %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<form action="" method="post">
  <div class="col-md-10">
    <label class="form-label">Mật khẩu cũ</label>
    <input
      type="password"
      class="form-control"
      name="oldPassword"
      placeholder="Mật khẩu cũ..."
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Mật khẩu mới</label>
    <input
      type="password"
      class="form-control"
      name="newPassword"
      placeholder="Mật khẩu mới..."
    />
  </div>
  <div class="col-md-10">
    <label class="form-label">Nhập lại mật khẩu mới</label>
    <input
      type="password"
      class="form-control"
      name="confirmNewPassword"
      placeholder="Nhập lại mật khẩu mới..."
    />
  </div>

  <div class="col-10 mt-2">
    <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
  </div>
</form>
