
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đổi mật khẩu lần đầu đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/toastify.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- icheck bootstrap -->
    <link
      rel="stylesheet"
      href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/css/adminlte.min.css" />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html">F8 Classes</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">
            Đặt lại mật khẩu
          </p>

<% if(error?.length){ %>
<label id="error-toast"><%= error[0].msg %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<form action="" method="post">
  <div class="col-md-12">
    <label class="form-label">Mật khẩu mới</label>
    <input
      type="password"
      class="form-control"
      name="newPassword"
      placeholder="Mật khẩu mới..."
    />
  </div>
  <div class="col-md-12">
    <label class="form-label">Nhập lại mật khẩu mới</label>
    <input
      type="password"
      class="form-control"
      name="confirmNewPassword"
      placeholder="Nhập lại mật khẩu mới..."
    />
  </div>

  <div class="col-10 mt-2">
    <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
  </div>
</form>
          <p class="mt-3 mb-1">
            <a href="/auth/logout">Đăng xuất?</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/assets/js/adminlte.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="/assets/js/toastify-js.js"></script>
  </body>
</html>
