<p class="login-box-msg">Đăng nhập để tiếp tục</p>
<% if(error?.length){ %>
<label id="error-toast"><%= error %></label>
<% } %> <% if(success?.length){ %>
<label id="success-toast"><%= success %></label>
<% } %>
<form action="/auth/login" method="post" novalidate>
  <div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="Email..." name="email" />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Mật khẩu..."
      name="password"
    />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>

    <!-- /.col -->
    <div>
      <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
    </div>
    <!-- /.col -->
 
</form>

<div class="social-auth-links text-center mb-3">
  <p>- HOẶC -</p>
  <a href="/auth/facebook/redirect" class="btn btn-block btn-primary">
    <i class="fab fa-facebook mr-2"></i> Đăng nhập với Facebook
  </a>
  <a href="/auth/github/redirect" class="btn btn-block btn-secondary">
    <i class="fab fa-github mr-2"></i> Đăng nhập với Github
  </a>
  <a href="/auth/google/redirect" class="btn btn-block btn-danger">
    <i class="fab fa-google mr-2"></i> Đăng nhập với Google
  </a>
</div>
<!-- /.social-auth-links -->

<p class="mb-1">
  <a href="/auth/forgot-password">Quên mật khẩu?</a>
</p>
